* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#home {
    width: 100%;
    height: 100vh;
}

#nav {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav #right {
    display: flex;
    gap: 40px;
    align-items: center;
}

#nav img {
    width: 100px;
}

#nav a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.1vw;
}

#nav i {
    font-size: 1.2vw;
    cursor: pointer;
}

#home #homemain {
    width: 100%;
    padding: 15vw 15vw;
}

#homemain h1 {
    font-size: 1.5vw;
    font-weight: 400;
}

#homemain .headings {
    display: flex;
    gap: 40px;
}

#homemain .headings h1 {
    color: transparent;
    -webkit-text-stroke: 1px black;
    font-size: 7vw;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -8px;

}

#homelast {
    padding: 4vw 15vw;
}

#homelast p {
    font-size: 1.6vw;
    font-weight: 400;
    width: 60%;

}

#homelast p ::selection {
    background-color: black;
    color: white;
}

#feature {
    width: 100%;
    padding: 10vw 15vw;
}

.fheading>h1 {
    font-size: 4vw;
    font-weight: 400;
    line-height: 1;
}

.fheading>h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 1px black;
}

#fimg {
    width: 100%;
    height: 100vh;
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
}

#fleft {
    overflow: hidden;
    width: 47%;
    height: inherit;
}

.fleftelem {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fleftelem h1 {
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.6vw 0;
}

.fleftelem h3 {
    font-size: 1.3vw;
    font-weight: 400;

}

.fleftelem h5 {
    opacity: 0.6;
}

#fright {
    width: 47%;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#fright .images {
    width: 90%;
    height: 90%;
    background-color: aqua;
}